body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

.hidden {
	display: none;
}

section {
	margin: auto;
	padding: 10px;
	background-image: url("background.jpg");
}

p {
	padding: 0px 45px 0px 45px;
}

header {
	border-bottom: 2px solid black;
}

header h1 {
    display: inline-block;
    *display: inline;
}

img {
	vertical-align: bottom;
	float: right;
	border: 1px solid black;
	border-radius: 15px;
}

.contact ul {
	list-style-type: none;
	padding-left: 0;
	font-style: italic;
}

a {
	text-decoration: none;
}

a:link {
    color: #3399ff;
}

a:visited {
    color: #003399;
}

a:hover {
		background-color: #bfbfbf;
}

@media screen and (min-width: 900px) and (min-device-width: 900px) {
	section {
	margin-right: 200px;
	margin-left: 200px;
	}
}

h1 {
	font-size: 42px;
}

.sections {
	border-bottom: 1px solid black;
}

.sections:last-of-type {
	border-bottom: none;
}
